extends layout.pug

block content
    div#back-to-search back
    p #{data.items.length} items in category #{data.selected_category}
        div.search-results
            if items
            each item in data.items
                a(class='item-holder', href='/item/'+item) #{item.name}
block scripts
    script(src='../dist/main.js')
