extends layout

block content
    div.search-container
        label(for='category')
            h2#search-label search by category 
        select(class="js-example-basic-multiple" name="category")
            each category in categories
                option(value=category.id) #{category.name}
    div.search-results
block scripts
    script(src='dist/1.main.js')
    script(src='dist/main.js')




