extends layout

block content
    h1= title
    div.inventory-container
        div.tab-container
            each category in categories
                div.category-tab.unselected(data=JSON.stringify(category)) #{category.name}
        div.info-container
            p.item-name name

            div.item-photo

            p.item-description description

            p.item-quantity quantity
block scripts
    script(src='javascripts/tabs.js')


