body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inventory-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto-fill, 120px);
}

